/* Styling title section */

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.big-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}



/* Navigation br  */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Features Section*/

.feature-title {
  font-size: 1.5rem;
}

/* Features div */

.feature-div {
  margin-bottom: 30px;
  padding: 5%;
}

/* Features Icons */

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}



/* Features Paragraphs */

.features-paragraph {
  margin: 15% auto;
  color: #8f8f8f;
}

/* Testimonials Section */

.testinmial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-card {
  padding: 3% 2%;
}

.btn-block {
  width: 100%;
}

/* Footer Section */



.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    width: 60%;
    position: static;
    transform: rotate(0deg);
  }
}
